<h1>Editing todo</h1>

<%= render "form", todo: @todo %>

<br>

<div>
  <%= link_to "Show list", @todo,  class: "btn btn-primary" %>
  <br><br>
  <%= link_to "Back to list", todos_path, class: "btn btn-primary" %>
</div>
